.text1 {
    padding-top: 10%;
}
.text2 {
    padding-top: 10%;
   }
p {
    color: dimgray;
}
.oranger-highlight {
    color: #e08685;
}
.up-section {
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    
}
 .img1 {
    width:100%;
}
a{
    text-decoration: none;
    color: hsl(0, 6%, 90%);
    font-weight: 900;
    background-color: palevioletred;
    background-image: -o-linear-gradient(#eb4d4b ,#ff7979);
    padding: .90%;
    border: radius 0.45%;
}
.top {
    background-image:url(/Assets/images/top-banner.png);
    background-repeat: no-repeat;
    
}

.img2 {
    width: 70%;
}

}
.mid {
    background-image: url(/Assets/images/top-banner.png);
}
.h2 {
    text-align: center;
    margin-top: 10%;
}